*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
html,body{
    background-color: black;
}
#main{
    background-image: url("Images/Background image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
    height: 100vh;
    position: relative;
}
.box{
    height: 100vh;
    width:100vw;
    opacity: 0.72;
    position: absolute;
    top: 0%;
    background-color: black;
}
#netflix{
    color: red;
    width: 150px;
    padding-top: 25px;
    position: relative;
    z-index: 10;
}
nav{
    max-width: 80vw;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-div{
    display: flex;
    position: relative;
    z-index: 10;
}
#selectbutton{
    padding: 6px 25px;
    font-size: medium;
    color: rgb(231, 227, 227);
    background-color: rgba(23,23,23,0.342);
    border: 1px solid white;
    border-radius: 4px;
    margin: 20px 10px;
    cursor: pointer;
}
#signin{
    padding: 6px 18px;
    color: white;
    background-color: rgb(220, 7, 7);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    cursor: pointer;
}
#signin:hover{
    background-color: rgb(126, 0, 0);
}
.text{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    gap: 23px;
    padding: 30px;
}
#text1{
    /* width: 605px; */
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}
#text2{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
#text3{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}
.form{
    display: flex;
    gap: 10px;
}
#getstarted{
    padding: 10px 30px;
    color: white;
    background-color: rgb(220, 7, 7);
    font-weight: bolder;
    font-size:medium;
    cursor: pointer;
}
#getstarted:hover{
    background-color: rgb(126, 0, 0);
}
#emailaddress{
    padding: 15px 155px 18px 10px;
    font-weight: 900;
    font-size: 16px;
    text-indent: 100;
    color: rgb(255, 255, 255);
    background-color: rgba(23,23,23,0.7);
    cursor: pointer;
}
#emailaddress:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(55, 54, 54, 0.7);
}
.buttons{
    border-radius: 5px;
}
.line{
    height: 7px;
    background-color: rgb(140, 3, 3);
}
#section1{
    margin: 0% 15%;
    height: 35vh;
    width: 80vw;
    display: flex;
    gap: 25px;
}
.heading{
    height: 10%;
    margin: 10px 15%;
}
.heading{
    color: white;
}
.card{
    margin-top: -10px;
    height: 250px;
    width: 175px;
    border: 1px;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    height: 290px;
    width: 200px;
    transition: all 1s ease-out 1s;
}
.card span{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -335px;
    font-size: 100px;
    font-weight: bolder;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}
#card1{
    background-image: url("Images/Trending\ Card\ 1.webp");
}
#card2{
    background-image: url("Images/Trending\ Card\ 2.webp");
}
#card3{
    background-image: url("Images/Trending\ Card\ 3.webp");
}
#card4{
    background-image: url("Images/Trending\ Card\ 4.webp");
}
#card5{
    background-image: url("Images/Trending\ Card\ 5.webp");
}
#section2{
    margin: 0% 15%;
    height: 45vh;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}
.inform{
    margin-top: -10px;
    padding: 20px 12px;
    height: 276px;
    width: 267px;
    background-color:#35085ad7;
    border: 1px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}
.inform h2{
    color: white;
}
.inform p{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
.inform svg{
   position: relative;
   left : 160px;
}
.questions{
    margin-top: -1%;
    height: 45vh;
    width: 80vw;
    gap: 18px;
}
.question{
    margin: 8px 17%;
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 57, 57);
    font-size: 24px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.question:hover{
    background-color: rgb(79, 82, 82);
}
.question span{
    padding: 20px;
}
.question p{
    padding-bottom: 10px;
    font-size: 65px;
    font-weight:100 ;
}
#emailaddress2{
    padding: 15px 335px 18px 10px;
    font-weight: 900;
    font-size: 16px;
    text-indent: 100;
    color: rgb(255, 255, 255);
    background-color: rgba(23,23,23,0.7);
    cursor: pointer;
}
#emailaddress2:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(55, 54, 54, 0.7);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}

@media screen and (max-width:460px){
    #main{
    height: 100vh;
    width: 100vw;
    margin: auto;
    padding: auto;
    }
    box{
    height: 100vh;
    width: 100vw;
    }
    #netflix{
    width: 130px;
    padding-top: 1px;
    }
    #signin{
    padding: 1px 30px;
    }
    #getstarted{
    padding: 10px 40px;
    font-size:10px;
    }
    #emailaddress{
    padding:5px 8px 10px 10px;
    font-weight: 500;
    font-size: 16px;
    }
    #emailaddress2{
    padding: 5px 8px 10px 10px;
    font-weight: 500;
    }
    #section1{
    height: 1510px;
    flex-direction: column;
    }
    .card{
    height: 300px;
    width: 200px;
    }
    .card span{
    position:sticky;
    }
    #section2{
    margin: 10% 15%;
    height: 100vh;
    width: 80vw;
    flex-direction: row;
    }
    .question{
    margin: 8px 17%;
    width: 90%;
    height: 20%;
    font-size: 18px;
    font-weight: 400;
    }
    .question p{
    padding-bottom: 10px;
    font-size: 65px;
    font-weight:100 ;
    }
    .heading{
        margin-top: 50px;
        margin-bottom: -10px;
    }
    #lastheading{
        margin-top: 360px;
    }
}